/* #root{

margin-left:50%;

} */

#numbers{
    margin-top: 100px;
    margin-left: 50px;
    height: auto;
    width: auto;
}

#numbers{
    margi
}


.btn_n{
    padding: 25px;
    font-size: larger;
    margin: 5px;
}

.calci_body{
    align-items: center;
}


